.navbar{
  box-shadow: 0 0  5px rgba(0, 0, 0, 0.2);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.product-card {
  display: inline-block;
  width: 250px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-card p.com_info {
  color: #7D7676;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.product-card .priceTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card .priceTag p {
  font-size: 1rem;
  font-weight: 400;
}

.product-card button {
  background-color: #001066;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0069d9;
}


