body{
  position: relative;
  height: 100vh; 
  background: #FFFFFF;
  list-style-type: none;
}

/* Nav Bar styles */
nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0;
  background-color: #FFFFFF;
    
}
  
.navbar-left {
  margin-left: 10px;
  display: flex;
  flex:1;
  align-items: center;
  
}
.navbar-right {
  flex: 1;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.navbar-right p {
  margin: 5px;
}
.navbar-center{
  display: flex;
} 
.navbar-center p{
    margin: 5px;
}
  


/* form styles */
.form-content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* set the height of the container to 100% of the viewport height */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
form h1 {
    text-align: center;
    margin: 40px;
}
.input{
  background: #F5F5F5;
  border: none;
  height: 80px;
  width: 547px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.btn-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10;
  color: white;
  width: 547px;
  height: 72px;
  background-color: #001066;
  border-radius: 8px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.btn{
  width: 219px;
  height: 30px;
  border-radius: 8px;
  border: none;
}