*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  background: #FFFFFF;
  list-style-type: none;
  font-family: 'Inter', sans-serif;

}

/* Nav Bar styles */
nav {
  width: 100% ;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  
}

a{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #aba8a8;
  }

  a:hover{
    color:rgb(91, 88, 88);
  }

  nav a.active{
    font-size: large;
    font-style: bold;
    color: #001066;

  }

.left {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

img{
  width: 60px;
}

.center{
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 250px;
} 
.center a{
    margin: 5px;
}

.right {
  flex: 1;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.right p {
  margin: 5px;
}

.btn{
  width: 103px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #001066;
  color: #F5F5F5;
  cursor: pointer;
}

.btn:hover{
  color: greenyellow;  
}


/* form styles */
.form-content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* set the height of the container to 100% of the viewport height */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

form h1 {
  text-align: center;
  margin: 40px;
}

.input{
  background: #F5F5F5;
  border: none;
  height: 80px;
  width: 547px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.btn-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10;
  color: white;
  width: 547px;
  height: 72px;
  background-color: #001066;
  border-radius: 8px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

