.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cart-icon {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-link {
    margin: 0 10px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-link:hover {
    color: #0077cc;
  }
  
  .navbar-button {
    font-size: 1.2rem;
    background-color: #c6cacd;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .navbar-button:hover {
    background-color: #005ea6;
  }
  