body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;

}

button {
  background-color: rgb(6, 6, 123);
  color: white;
  border-color: white;
  width: 100px;
  height: 30px;
  line-height: 20px;
  border-radius: 5px;
  display: inline;
  margin-right: 20px;

}

.nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  margin: 10px auto;
  margin-top: 50px;

}

.company-name {
  margin-left: 30px;
  margin-right: 330px;
}

.Azubi-logo {
  color: rgb(4, 4, 146);
  font-size: larger;
}

.home-cart-links {
  margin-right: 280px;
}



a {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(8, 8, 152);
  cursor: pointer;
  text-decoration: none;
  font-size: larger;

}

a:-webkit-any-link:hover {
  color: black;
}


.main {
  width: 80%;
  background-color: white;
  margin: auto;
}

.search-box {
  width: 60%;
  background-color: #dbd8d8;
  margin-top: 40px;
  margin-left: 20%;
  height: 50px;
  border-radius: 5px;
  text-indent: 20px;
  border: none;

}

.cart-list-container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}



.cart img {
  width: 100%;
  max-width: 98%;
  height: auto;
}




.cart {
  border: solid lightgray;
  width: 100%;
}



.Cartdetails {
  width: 96%;
  margin-top: 4px;
  margin-left: 2%;
}

.Place-order-and-price {
  display: inline-block;
  margin-right: 5px;
}

/* */